node_modules/
.superpowers/
dist/
.env
*.log

/web/build/
/web/.svelte-kit/
/imgs

/.claude
/.vscode

about.html
gallery.html
guestbook.html
homepage-v3.html
api/pnpm-workspace.yaml
docs/homepage-v2.html
docs/superpowers/plans/2026-04-18-cigar-collection-website.md
docs/memo.md
